body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,sans-serif;
}
body{
    width:100%;
    height:100%;
    min-width:1200px;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    background:url("http://static.mukewang.com/static/img/index/bk.jpg") no-repeat;
    background-size:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    top:0;
    width:100%;
    height:500px;
    padding:10px 20px;
}
a.logo img{
    width:100%;
    height:70%;
}
a.logo{
    width:140px;
    height:60px;
    margin-top:10px;
    display:block;
}
ul.nav{
    position:absolute;
    left:180px;
    top:12px;
}
ul.nav li{
    display:inline-block;
}
ul.nav a{
    color:#07111b;
    display:block;
    font-size:17px;
    font-weight:500;
    padding:18px;
}
.headleft a:hover,.headright a:hover{
    color:#ec1500;
}
.headright .fa-search:hover,.headright .download .fa-mobile:hover{
    color:#ec1500;
}
div.headright{
    float:right;
    position:relative;
    top:-55px;
}
div.headright form{
    position:absolute;
    right:210px;
    top:14px;
}
div.headright input{
    border-style: none;
    background-color:#FAFAFA;
    border-bottom:solid 1px #D9DDE1;
    width:230px;
    padding-bottom:10px;
    padding-left:10px;
}
@media(max-width : 1200px) {
    div.headright input{
    width:190px;
    padding-left: 12px;
}
    div.headright form{
        position: absolute;
        left: -255px;
    }
    div.headright .fa-search{
        position: absolute;
        left: -66px;
    }
    div.headright{
        float: none;
        position: relative;
        left: 985px;
    }
}
@media(max-width  : 952px) {
    div.headright form{
        left: -140px;
    }
    a.logo{
        margin-left: -5px;
    }
    ul.nav{
        left: 170px;
    }
    ul.nav a{
        padding-left: 13px;
        padding-right: 13px;
    }
}
@media(max-width : 768px){
    div.headleft ul{
        display: none;
    }
}
div.headright form input::-webkit-input-placeholder{
    color:#787D82;
}
div.headright form input:focus,div.headright form input:active{
    outline:none;
}
div.headright i.fa-search{
    position:absolute;
    right:210px;
    top:18px;
    color:#787D82;
    cursor:pointer;
}
div.headright ul{
    margin-right:-25px;
}
div.headright ul li {
    display: inline-block;
    line-height:60px;
}
div.headright ul li a{
    font-size: 15px;
    color:#787D82;
}
div.headright .download{
    margin-right:45px;
    position:relative;
}
div.headright .download i.fa-mobile{
    font-size:25px;
    color:#787D82;
}
div.headright .download .codearea{
    position:absolute;
    background:#fff;
    top:57px;
    left:-75px;
    text-align:center;
    padding:20px 30px 0px 30px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index:9999;
}
div.headright .codearea .apptext{
    font:bold 14px/15px "微软雅黑";
    color:#14191e;
    }
div.headright .codearea .apptype{
    font:12px/20px "微软雅黑";
    color:#787d82;
    height:30px;
}
.headright .app-about .login,.headright .app-about .register{
    height:60px;
    width:60px;
    display:block;
}
.intro{
    width:1200px;
    height:460px;
    margin:80px auto 0;
    position: relative;
}
#container{
    width:1200px;
    height:460px;
    position:relative;
    overflow: hidden;
}
#container #images{
    position:absolute;
    width:6000px;
    height:460px;
    z-index: 1;
}
#container #images img{
    float:left;
}
#container #btns{
    position:absolute;
    width:60px;
    height:10px;
    bottom:35px;
    right:25px;
    z-index: 2;
}
#container #btns span{
    width:10px;
    height:10px;
    background-color:#fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    float:left;
    margin-left:10px;
    opacity:0.5;
    cursor:pointer;
}
#container #btns .on{
    opacity:1;
}
#container .arrow{
    position:absolute;
    z-index:2;
    height:80px;
    width:40px;
    text-align:center;
    color:#FFFFFF;
    line-height:80px;
    font-size:36px;
    cursor:pointer;
    font-weight:300;
    bottom:50%;
}
#container #prev{
    background-image:url("http://static.mukewang.com/static/img/home/pre.png");
    background-repeat:no-repeat ;
    background-position:center;
    transform: rotate(180deg);
    left:245px;
}
#container #next{
    background-image:url("http://static.mukewang.com/static/img/home/pre.png");
    background-repeat: no-repeat ;
    background-position:center;
    right:-10px;
}
#container .arrow:hover{
    background-color:rgba(0,0,0,0.4);
}
#menue{
    width:245px;
    height:460px;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    z-index:2;
    top:0;
}
#menue li:hover{
    background-color:rgba(100,100,100,0.6);
}
#menue a.title{
    color:#fff;
    font-size:17px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    line-height:63px;
    padding-left:10px;
    padding-right:5px;
    position:relative;
    width:185px;
    margin:auto;
}

#menue a.title span{
    color: rgba(255,255,255,0.4);
    position:absolute;
    right:0;
    font-size:10px;
}
#menue .field7 a{
    border-bottom:none;
}
#menue .content img{
    position:absolute;
    left:246px;
    top:-1px;
    border:1px solid #d9dde1;
    /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);*/
}
#menue .content .desc{
    position:absolute;
    width:652px;
    height:429px;
    padding:15px 40px;
    line-height:32px;
    left:246px;
    top:4px;
}
#menue .content{
    display: none;
    cursor:auto;
}
#menue .content h3{
    color:#f01414;
    font-size:17px;
    font-weight:bold;
    padding: 10px 0;
}
#menue .content span.type{
    font-weight: bold;
    font-size:15px;
    margin-right:8px;
}
#menue .content a{
    color:#120D0C;
    margin:0 8px;
    font-weight: 100;
    font-size:15px;
}
#menue .content a:hover{
    color:red;
}
#menue .content a.rec-link{
    margin-left:-1px;
    font-size:15px;
}
.outwrap-rec .wrap-rec{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.outwrap-rec .inside img{
    height:124px;
    width:224px
}
.outwrap-rec .title{
    margin-bottom:30px;
    height:50px;
}
.outwrap-rec .free-course-title{
    margin-top:-20px;
}
.outwrap-rec .title h3{
    font-size:17px;
    color:#07111b;
    line-height:100px;
}
.outwrap-rec .title a{
    float:right;
    font-size:14px;
    color:#4d555d;
    margin-top:-50px;
}
.outwrap-rec .title a:hover{
    color:#aaaaaa;
}
.outwrap-rec .outside{
    width:1220px;
    height:192px;
    box-sizing: border-box;
}
.inside{
    width:224px;
    height:172px;
    overflow: hidden;
    position:relative;
    box-shadow: 2px 4px 8px #E9E9E9;
    float:left;
    margin-right:20px;
}
.inside .course-box{
    width:224px;
    height:144px;
    box-sizing:border-box;
    position:absolute;
    top:90px;
    padding:10px 20px 5px 20px;
    background-image: url("http://www.imooc.com/static/moco/v1.0/dist/images/bg-course.png");
    background-size:cover;
}
.course-box .course-caption{
    font-size:15px;
    color:#07111b;
    line-height:27px;
    font-weight:500;
    margin-bottom: 3px;
}
.course-caption span{
    background-color:#93999f;
    color:white;
    padding:1px;
    padding-bottom:0;
    margin-right:3px;
}
.course-box .course-intro{
    color:#93999f;
    font-size:12px;
    line-height:16px;
    word-break: break-all;
}
.course-bottom{
    width:224px;
    box-sizing:border-box;
    position:absolute;
    padding:10px 20px;
    padding-bottom:18px;
    background-color: #fff;
}
.outwrap-rec .course-bottom .price{
    color:#ec1500;
    font-size:12px;
}
.outwrap-rec .course-bottom .number{
    color:#93999f;
    font-size:12px;
    float:right;
}
.course-bottom .course-number-left{
    color:#93999f;
    font-size:12px;

}
.inside:hover .course-box{
    top:30px;
    transition:top .6s;
}
.inside:hover{
    box-shadow: 3px 8px 10px #ccc;
}
.outwrap-study{
    width:100%;
    height:2707px;
    background-color:#F3F5F7;
    margin-top:30px;
    padding-top:50px;
}
.outwrap-study .outwrap-part1{
    width:1200px;
    margin:0 auto;
    position:relative;
}
.outwrap-study .part-head{
    width: 224px;
    height: 364px;
    box-sizing: border-box;
    position: absolute;
    padding: 30px 20px;
    z-index:2;
    background: url("http://static.mukewang.com/static/img/home/Web.png?t=1") no-repeat;
}
.outwrap-study .part-head h1{
    color:#fff;
}
.outwrap-study a.work-path{
    color:#fff;
    font-size:16px;
    display: block;
    margin:32px 0;
}
.outwrap-study .work-path:hover span{
    margin-left:15px;
}
.outwrap-study .part-head span{
    position:absolute;
    font-size:10px;
    margin-left:10px;
}
.outwrap-study .head-link{
    padding-right:20px;
    position:absolute;
    bottom:15px;
}
.outwrap-study .head-link a{
    color:#cc0033;
    font-size:12px;
    line-height:24px;
    overflow:hidden;
    display:inline-block;
    height:24px;
}
.outwrap-study .part-head .head-link a:hover{
    color:#ec1500;
}
.outwrap-study .part-content{
    width:956px;
    height:364px;
    box-sizing: border-box;
    position:absolute;
    padding-left:244px;

}
.outwrap-study .part-content .middle{
    padding-left:488px;

}
.outwrap-study .middle .inside{
    margin-bottom: 20px;

}
.outwrap-study .part-content .left{
    position:absolute;
    top:0;
}
.outwrap-study .part-content .left div{
    width:468px;
    height:172px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px #E9E9E9;
}
.outwrap-study .part-content .left div:hover{
    box-shadow:3px 8px 10px #ccc ;
}
.outwrap-study .subhead{
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    line-height:172px;
    text-align:center;
    overflow: hidden;
}
.outwrap-study .right{
    position:absolute;
    width:224px;
    height:364px;
    top:0;
    right:-248px;
    background-color: #fff;
    box-shadow: 0 4px 8px #E9E9E9;
    overflow: hidden;
}
.outwrap-study .right:hover{
    box-shadow: 0 5px 12px rgba(128, 128, 128, 0.73);
}
.right .link-list span:after{
    content:" ";
    width:3px;
    height:3px;
    background:black;
    position:absolute;
    left:0;
    top:6px;
}
.right .link-list{
    margin-left:20px;
    position: absolute;
    top:180px;
    width:165px;
    height:162px;
    padding-right:20px;
    overflow: hidden;
}
.right .link-list span{
    padding-left:20px;
    font-size:12px;
    line-height:31px;
    color:#07111b;
    position:relative;
    white-space: nowrap;
}
.right .link-list span:hover{
    color:#ec1500;
}
.right .link-list span:hover:after{
    background: #ec1500;;
}
.outwrap-study .right .inside{
    box-shadow: none;
}
.outwrap-study .right .inside .course-bottom{
    padding-left:0;
    border-bottom: solid 1px #D9DDE1;
    padding-bottom:14px;
    width:184px;
    margin:0 20px;
}
.outwrap-study .outwrap-part2{

    position:relative;
    width:1200px;
    margin:0 auto;
    top:414px;
}
.outwrap-study .outwrap-part2 .part-head{
    background: url("http://static.mukewang.com/static/img/home/Java.png?t=1") no-repeat;
}
.outwrap-part2 .head-link a{
    color:#006699;
}
.outwrap-study .outwrap-part2 .head-link a:hover{
    color:#0088cc;
}
.outwrap-study .main-bottom{
    margin-top:20px;
}
.outwrap-study .lastinside{
    margin-right:0;
}
.outwrap-study .outwrap-part3 .part-head{
    background: url("http://static.mukewang.com/static/img/home/PHP.png?t=1") no-repeat;
}
.outwrap-study .outwrap-part3{
    position:relative;
    width:1200px;
    margin:0 auto;
    top:828px;
}
.outwrap-part3 .head-link a{
    color:#333399;
}
.outwrap-study .outwrap-part3 .head-link a:hover{
    color:#4343cc;
}
.outwrap-part3 .left-co{
    width:468px;
    height:364px;
    position:absolute;
    background:url('http://img.mukewang.com/57e3707e0001af1504680364.jpg') no-repeat;
}
.outwrap-part3 .left-co a{
    width:468px;
    height:364px;
    position:absolute;
}
.outwrap-part3 .left-co .subhead{
    margin-top:50px;
}
.outwrap-part3 .left-co .line{
    height:1px;
    width:206px;
    background-color:#ffffff;
    margin:auto;
    margin-top:-60px;
    opacity: 0.5;
}
.outwrap-part3 .left-co .subhead-exp{
    color:#FFFFFF;
    font-size:14px;
    text-align: center;
    margin-top:20px;
    font-weight:900;
}
.outwrap-part4{
    position:relative;
    width:1200px;
    margin:0 auto;
    top:1242px;
}
.outwrap-part4 .part-head{
    background: url("http://static.mukewang.com/static/img/home/Android.png?t=1") no-repeat;
}
.outwrap-part4 .part-head .head-link a{
    color:#006633;
}
.outwrap-part4 .part-head .head-link a:hover{
    color:#00994d;
}
.outwrap-part5{
    position:relative;
    width:1200px;
    margin:0 auto;
    top:1655px;
}
.outwrap-part5 .part-head{
    background: url("http://static.mukewang.com/static/img/home/iOS.png?t=1") no-repeat;
}
.outwrap-part5 .part-head .head-link a{
    color:#006666;
}
.outwrap-part5 .part-head .head-link a:hover{
    color:#009999;
}
.head-exp{
    color:#FFFFFF;
    font-size:14px;
    margin-top:20px;
}
.outwrap-part6{
    position:relative;
    width:1200px;
    margin:0 auto;
    top:2065px;
}
.outwrap-part6 .part-head{
    background: url("http://static.mukewang.com/static/img/home/Linux.png?t=1") no-repeat;
}
.outwrap-part6 .part-content{
    width:100%;
}
.outwrap-part7{
    position:relative;
    width:1200px;
    margin:0 auto;
    top:2284px;
}
.outwrap-part7 .part-head{
    background: url("http://static.mukewang.com/static/img/home/shoujileft.png?t=1") no-repeat;
}
.outwrap-part7 .part-head a{
    color:#FFFFFF;
    display: inline-block;
    border:1px solid #FFFFFF;
    width:184px;
    height:34px;
    font-size:14px;
    border-radius: 3px;
    line-height:34px;
    text-align: center;
    margin-bottom:8px;
}
.outwrap-part7 .part-head .head-link a:hover{
    color:#FFFFFF;
}
.outwrap-study .outwrap-part7 .part-content {
    position:absolute;
    left:244px;
    width:956px;
    height: 364px;
}
.outwrap-part7 .part-content>div{
    width:468px;
    height:172px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px #E9E9E9;
    position:absolute;
}
.outwrap-part7 .part-content .section1{
    left:0;
    top:0;

}
.outwrap-part7 .part-content .section2{
    left:0;
    bottom:0;
}
.outwrap-part7 .part-content .section3{
    right:0;
    top:0;
}
.outwrap-part7 .part-content .section4{
    right:0;
    bottom:0;
}

.outwrap-part7 .part-content>div:hover{
    box-shadow: 0 8px 10px #ccc;
}
.outwrap-part7 .part-content .title{
    color:#07111b;
    font-size:20px;
    font-weight:bold;
    position:absolute;
    left:30px;
    top:30px;
}
.outwrap-part7 .section-content{
    position:absolute;
    left:120px;
    top:23px;
}
.outwrap-part7 .section-content a{
    color:#07111b;
    font-size:14px;
    line-height:32px;
    display: inline-block;
    width:350px;
    padding-left:20px;
}
.outwrap-part7 .section-content a:hover{
    color:#ec1500;
}
.footer .outwrap-footer{
    padding-top:30px;
    padding-bottom:30px;
    width:1200px;
    margin:0 auto;
    position:relative;
}
.footer-sns{
    position:absolute;
    left:600px;
    margin-left:-94px;
}
.footer-sns a{
    float:left;
    height:32px;
    width:32px;
    margin-right:25px;
    background-image: url("http://static.mukewang.com/static/img/idx-btm.png");
}
.footer-sns .xlwb{
    background-position:0 367px ;
}
.footer-sns .wx{
    background-position:-52px 367px;

}
.footer-sns .txwb{
    background-position:-104px 367px ;
}
.footer-sns .qzone{
    background-position: -156px 367px;
}
.footer-sns .xlwb:hover{
    background-position:0 326px ;
}
.footer-sns .wx:hover{
    background-position:-52px 326px;
}
.footer-sns .txwb:hover{
    background-position:-104px 326px ;
}
.footer-sns .qzone:hover{
    background-position: -156px 326px;
}
.footer-sns .wx-code{
    height:215px;
    width:176px;
    position:absolute;
    background-image: url("http://static.mukewang.com/static/img/idx-btm.png");
    top:-220px;
    left:-14px;
    display:none;
}
.footer-link{
    width:1200px;
    text-align: center;
    padding-top:60px;
}
.footer-link ul li{
    display: inline-block;
    margin-right:20px;
}
.footer-link li a{
    color:#99a1a6;
    font-size:15px;
    font-weight:400;
}
.footer-link li a:hover{
    color:#be3948;
}
.outwrap-footer{
    border-bottom: 1px solid #d0d6d9 ;
}
.website-info{
    margin:20px auto;
    width:1200px;
    text-align: center;
}
.website-info p{
    color:#b4bbbf;
    font-size:12px;
}

.practicediv{
    position:absolute;
    left:25px;
    top:65px;
    width:10px;
    height:10px;
    background-color: red;

}




































